/* Ubuntu font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


:root {
    --main-background: rgb(135, 206, 250);
    --modal-cover-background: rgb(0, 0, 100);
}


body {
    background-color: var(--main-background);
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    text-shadow: 2px 0 0 black, 0 2px 0 black, 1px 1px 0 black;
}

/* Game board*/
#board {
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px blue, 3px 3px 10px rgba(0,0,255,.5), -3px -3px 10px rgba(0,0,255,.5);
}

/* Modal formatting */
.modal {
    padding: 20px 0;
    width: 100%;
    height: 100%;
    background-color: var(--modal-cover-background);
}

.modal-body {
    width: 350px;
    border-radius: 5px;
    margin: 0 auto;
    background-color: var(--main-background);
    box-shadow: 0 0 20px var(--main-background), 3px 3px 10px rgba(135, 206, 250, .5), -3px -3px 10px rgba(135, 206, 250, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p, li {
    font-size: larger;
    font-weight: bold;
}

p {
    text-align: center;
    padding: 0 10px;
    margin-bottom: 10px;
}

p.gameover {
    margin: 0px;
}

p.score {
    margin-top: 0;
    font-weight: bolder;
}

li {
    list-style: none;
}

button {
    width: 100%;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
    background-color: var(--main-background);
    border: none;
    border-radius: 0 0 5px 5px;
}

button:hover {
    background-color: rgb(89, 189, 252);
}